<article>
  <h5>CODESIGNED</h5>
  <h1>Modernization of Intranet Solution for Enterprises</h1>
  <h4>Utilization of SharePoint to create a highly customized Intranet solution for enterprises</h4>

  <figure>
    <img src="/codesigned/1@2x.jpg" alt="Codesigned Home Page">
  </figure>

  <h4>About the Project</h4>
  <p>Codesigned offers custom Intranet solutions powered by Sharepoint, Microsoft’s team collaboration software, to enterprise companies ranging from 500 to as large as 10,000 employees.</p>
  <p>They wanted to create a clean and simple Intranet platform to offer to their clients, in which then they can later scale with additional plugins and add-ons.</p>
  <br>

  <h4>Research</h4>
  <p>The first thing I did was interview total of 8 current clients of Intranet. They were 1 hour user interview sessions, ranging from regular employees to executives in corporate communications.</p>
  <p>Throughout this process, I was able to gain insight from one of the largest clients from Codesigned on how employees utilized their current Intranet.</p>
  <br>

  <!-- IMAGE -->
  <figure>
    <img src="/codesigned/2@2x.jpg" alt="Level of Engagement by Session Duration">
    <figcaption>Level of Engagement by Session Duration</figcaption>
  </figure>
  <figure>
    <img src="/codesigned/3@2x.jpg" alt="Level of Enagement by Page Depth">
    <figcaption>Level of Engagement by Page Depth</figcaption>
  </figure>

  <p>This was incredibly eye opening for me. According to the analytics, <strong>68%</strong> of sessions were abandoned within 10 seconds by employees, and <strong>67%</strong> of the same cohort did not explore past the home page.</p>
  <p>These statistics reaffirmed my belief that the current solution required a lot more than a visual refresh. </p>

  <!-- IMAGE -->
  <figure>
    <img src="/codesigned/4@2x.jpg" alt="Audience Overview by Visitor Pattern">
    <figcaption>Audience Overview by Visitor Pattern</figcaption>
  </figure>

  <p>As I’ve projected, peak user engagement was in the morning when people came in for work.</p>
  <p>Although these numbers presented above were from one source, they coincided with the information I’ve gathered from almost all users on my interviews.</p>
  <p>I then compiled all the data and information collected, and designed sets of user personas.</p>

  <!-- IMAGE -->
  <figure>
    <img src="/codesigned/5@2x.jpg" alt="User Personas">
    <figcaption>User Personas</figcaption>
  </figure>

  <blockquote cite="PROJECT MOTTO">
    Make employees feel like they are actually <strong>apart of the community</strong>, not just bystanders.
  </blockquote>

  <h4>Value Proposition</h4>
  <p>Codesigned’s main selling points have always been low cost, fast implementation time, and minimalistic visuals, so it was critical for me to design accordingly.</p>
  <p>I performed competitor analysis and broke down features to see what needs to be done better.</p>

  <h4>Design Mission</h4>
  <p>Codesigned’s main selling points have always been low cost, fast implementation time, and minimalistic visuals, so it was critical for me to design accordingly.</p>
  <p>I performed competitor analysis and broke down features to see what needs to be improved.</p>

  <blockquote cite="PROJECT MOTTO">
    Design for practicality. Be a realist and <strong>design based on how people already act</strong>, not how we want them to.
  </blockquote>

  <h4>Wireframe</h4>
  <p>Before I began the project, it was crucial for me to learn about the ultimate goal and future aspirations to ensure scalability. We went through multiple iterations of wireframes to reach a solution we all agreed with.</p>

  <img class="image--fullwidth" src="codesigned/6@2x.jpg" alt="Placeholder">

  <h4>Visuals</h4>
  <p>Since this is a platform designed for companies to integrate their own brand identity, I intended to have the content drive the product.</p>

<p>From the sales perspective, it is much harder to sell a product that is too bold or unique, hence I tried to stay neutral with my design direction.</p>

  <figure>
    <img src="/codesigned/7@2x.jpg" alt="Placeholder">
  </figure>

  <figure>
    <img src="/codesigned/8@2x.jpg" alt="Placeholder">
  </figure>

</article>