<article>
  <h5>CODESIGNED</h5>
  <h1>Modernization of Intranet Solution for Enterprises</h1>
  <h4>Utilization of SharePoint to create a highly customized Intranet solution for enterprises</h4>

  <figure>
    <img src="http://placehold.it/1100x700/F72F6D/FFFFFF" alt="Placeholder">
    <figcaption>Caption</figcaption>
  </figure>


  <h4>About the Project</h4>
  <p>Codesigned offers custom Intranet solutions powered by Sharepoint, Microsoft’s team collaboration software, to enterprise companies ranging from 500 to as large as 10,000 employees.</p>
  <p>They wanted to create a clean and simple Intranet platform to offer to their clients, in which then they can later scale with additional plugins and add-ons.</p>
  <br>

  <h4>Research</h4>
  <p>The first thing I did was interview total of 8 current clients of Intranet. They were 1 hour user interview sessions, ranging from regular employees to executives in corporate communications.</p>
  <p>Throughout this process, I was able to gain insight from Codesigned’s one of the largest clients on how employees utilized the current Intranet tool.</p>
  <br>

  <!-- IMAGE -->

  <p>This was incredibly eye opening for me. According to the analytics, 68% of sessions were abandoned within 10 seconds by employees, and 67% of the same cohort did not explore past the home page.</p>
  <p>Those statistics reaffirmed my belief that the current solution needed a lot more than a visual refresh. </p>
  <br>


  <!-- IMAGE -->
  <p>As I’ve projected, peak user engagement was in the morning when people came in for work.</p>
  <p>Although these numbers presented above were from one source, it coincided with the information I’ve gathered from almost all users on my interviews.</p>
  <p>I then compiled all the data and information I’ve gathered, and designed 4 sets of user personas.</p>

  <blockquote cite="PROJECT MOTO">
    Make employees feel like they are actually <strong>apart of the community</strong>, not just bystanders.
  </blockquote>

  <h4>Value Proposition</h4>
  <p>Codesigned’s main selling points have always been low cost, fast implementation time, and minimalistic visuals, so it was critical for me to design accordingly.</p>
  <p>I performed competitor analysis and broke down features to see what needs to be done better.</p>

  <h4>Design Mission</h4>
  <p>Codesigned’s main selling points have always been low cost, fast implementation time, and minimalistic visuals, so it was critical for me to design accordingly.</p>
  <p>I performed competitor analysis and broke down features to see what needs to be done better.</p>

  <blockquote cite="PROJECT MOTO">
    Design for practicality. Be a realist and <strong>design based on how people already act</strong>, not how we want them to.
  </blockquote>

  <h4>Wireframe</h4>
  <p>Before I began the project, it was crucial for me to learn about the ultimate goal and future aspirations to ensure scalability.</p>

  <!-- <img class="image--fullwidth" src="http://placehold.it/1100x700/F72F6D/FFFFFF" alt="Placeholder"> -->
</article>