extends ./layouts/index.jade

block content
  img(src='/border.svg')

  h1 Heading 1
  h1.heading.heading--one Heading 1
  h1.heading.heading--one.heading--alt Heading 1 (ALT)

  h2 Heading 2
  h2.heading.heading--two Heading 2

  h2 Heading 3
  h3.heading.heading--three Heading 3

  h4 Heading 4
  h4.heading.heading--four Heading 4

  h5 Heading 5
  h5.heading.heading--five Heading 5

  h6 Heading 6
  h6.heading.heading--six Heading 6

  button Button
  .btn Button
  button.btn Button
  a.btn(href="#") Button

  blockquote(cite="PROJECT MOTO") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suam denique cuique naturam esse ad vivendum ducem.
  blockquote.blockquote(cite="PROJECT MOTO") Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suam denique cuique naturam esse ad vivendum ducem.