/* Container */
.container {
  width: 100%;
  max-width: 1440px;
  padding: 0 100px;
  box-sizing: border-box;

  @media only screen
    and (max-width: 1024px) {
    padding: 0 50px;
  }

  @media only screen
    and (max-width: 768px) {
    padding: 0 25px;
  }
}