/* Header */
.header {
  margin: 0 0 90px;
  padding: 70px 0 0;

  &,
  .container {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }


  @media screen
    and (max-width: 480px) {
      &,
      .container {
        flex-wrap: wrap;
      }

      .logo {
        margin: 0 auto 20px;
      }

      .nav {
        width: 100%;
        justify-content: center;
      }
  }
}
